* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.side-banner {
    flex: 1;
    height: 100vh;
    background-image: url("./img/desserts_lucas-andrade-unsplash.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-banner h1, .banner-caption {
    position: relative;
    width: 100%;
    background: rgba(255, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-banner h1 {
    height: 2.5em;
    font-size: 2em;
    top: 20vh;
}

.banner-caption {
    height: 2em;
    font-size: 1em;
}

.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero, .signup, .login {
    flex: 1;
    padding: 50px;
}

.hero p, .signup p{
    font-size: 2em;
}

.hero p {
    margin-bottom: 1em;
}

.signup {
    align-self: stretch;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 10px 5px 5px red;
}

.signup .forms {
    display: flex;
    flex-wrap: wrap;
}

.signup .forms div {
    flex: calc(100% / 2);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

input {
    box-sizing: border-box;
    width : 55%;
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
}

input:focus {
    background: rgba(0, 215, 255, 0.7);
}

button {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    font: bold 1em sans-serif;
    border-radius: 5px;
}
