@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    font-family: 'Fresca', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.side-banner {
    flex: 2;
    height: 100vh;
    background-image: url("./img/desserts_lucas-andrade-unsplash.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-heading, .banner-caption {
    width: 100%;
    background: rgba(255, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading {
    position: relative;
    height: 4em;
    font-size: 2.5em;
    top: 13vh;
    font-family: 'Staatliches', sans-serif;
}

.strawberry {
    height: 8vh;
}

.banner-caption {
    height: 3.5em;
    font-size: 1.3em;
}

.right-side {
    flex: 5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero, .signup, .login {
    flex: 1;
}

.signup {
    padding: 50px; 
}

.hero, .login {
    padding: 75px;
}

.hero p, .signup p{
    font-size: 1.5em;
}

.hero p {
    margin-bottom: 1em;
}

.signup {
    align-self: stretch;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 10px 5px 5px red;
}

h2 {
    font-size: 2.2em;
}

.signup .forms {
    display: flex;
    flex-wrap: wrap;
}

.signup .forms div {
    flex: calc(100% / 2);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.login p {
    font-size: 1.5rem;
}

label, button {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.2rem;
    box-sizing: border-box;
    width : 55%;
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
}

input:focus {
    background: rgba(0, 215, 255, 0.7);
    box-shadow: 10px 5px 5px rgba(145, 30, 30, 0.8);
}

input + span {
    position: relative;
}

button {
    box-sizing: border-box;
    background: rgba(0, 215, 255, 1);
    color: white;
    width: 250px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
}
